*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-family: courier;
    color: #884A39;
}

.menu {
    float: right;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #884A39;
}

h2 {
    font-family: 'comic sans ms';
    color: #884A39;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #884A39;
    width: 100%;
    line-height: 50px;
}

a.tbl-merah {
    background: #4F709C;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover {
    background: #213555;
    text-decoration: none;
}

a.tbl-kuning {
    background: #4F709C;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-kuning:hover {
    background: #213555;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.materi {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.materi.satu {
    background: #2B2A4C;
    color: #FFFFFF;
}

.materi.dua {
    background: #B31312;
    color: #FFFFFF;
}

.materi.tiga { 
    background: #EA906C;
    color: #FFFFFF;
}

.materi.empat {
    background: #395B64;
    color: #FFFFFF;
}

.materi.lima {
    background: #5F8D4E;
    color: #FFFFFF;
}

.materi.enam {
    background: #3C6255;
    color: #FFFFFF;
}

@media( min-width: 600px ) {
    .container {
        display: flex;
        justify-content: space-between;
     }

     .materi {
        width: 30%;
     }
}

.container-quiz {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;      
}

.quiz {
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    flex: 1;
}

.quiz .header {
    height: 150px;
    background-color: #666;
}

.quiz .content {
    text-align: center;
    padding-bottom: 20px; 
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #884A39;
    width: 100%;
    line-height: 50px;
}
